<link rel="stylesheet" href="css/site.css">

<div class="reply">
    <form class="write" method="get">
        <h2>Welcome, please write your name =)</h2>
        <input type="text" required id="name" name="name">
        <input type="submit" value="Enter">
    </form>    
</div>